<!doctype html>
<html>
<head>
  <title>Matching with Vikings</title>
  {% block head %}
 <style type="text/css">@import "{{url_for("static", filename="css/main.css")}}";</style>
  <script src="/static/js/jquery.js"></script>
  {% endblock %}
  </head>
{% block tabs %}
<br><br><div id="pageTitle" align ="center"><font face ="arial" size="10" color="#FFFFFF" style="BACKGROUND-COLOR:#013F5C;"><b>|-|-| MATCHING WITH VIKINGS |-|-| </font></div></b>
  <div id="tabs">
    <ul id="tabnav">
      <form action="" method="POST">
      <li class="tab1"><button name="tabhome"><font color = "white">
Home</button></li>
      </form>
      <form action="" method="POST">
      <li class="tab1"><button name="tablogin"><font color = "white">
Log In</button></li>
      </form>
      <form action="" method="POST">
      <li class="tab1"><button name="tabsignup"><font color = "white">
Sign Up</button></li>
      </form>
       <form action="" method="POST">
      <li class="tab1"><button name="tabcreate"><font color = "white">
Create Survey</button></li>
      </form>
       <form action="" method="POST">
      <li class="tab1"><button name="tabprofile"><font color = "white">
Profile</button></li>
      </form>
       <form action="" method="POST">
      <li class="tab1"><button name="tabsurvey"><font color = "white">
Take Survey</button></li>
      </form>
       <form action="" method="POST">
      <li class="tab1"><button name="tabresults"><font color = "white">
Results</button></li>
      </form>
    </ul>
  </div>
</font>
{% endblock %}
<body>
{% block body %}
{% endblock %}
</body>
</html>