{% extends "base.html" %}
{% block title %}Matching with Vikings{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<div class="content">
   <font color="#013F5C">

  <br>
  <center>    <h3>Matching with Vikings</h3>
<h3>Please enter your username and password below:</h2></center><br>
  <div id="input" align = "center">
    <form action="" method="POST">
     <font size="4">
      Username: <input type="text" size="25" style="height:2em;line-height:1.5em;" name="Username" class="" placeholder="Type your username"></input>
<br><br>
      Password: <input type="password" size="25" style="height:2em;line-height:1.5em;" name="Password" class="" placeholder="Type your password" ></input>
<br><br>
      <input class="button" type="submit" name="submitlogin" value="        Login        " class=""></input>
      <br><br>
    </form>
  </div>
</div>
{% endblock %}