{% extends "base.html" %}
{% block title %}Matching with Vikings{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<div class="content">
   <font color="#013F5C">
  <center>
    <div class="text">
      <br><h2>Welcome to your Profile.</h2></br>
    </div>
  </center>
</div>

{% if user %}
<center>
<br><b><font size="4">Looking at the profile of:</font></b>
<div id="anyUser">
{{user}}
</div>
{% endif %}

<br><b><font size="4">Logged in as:</font></b><div id="userInfo">
</div>
<script src="/static/js/profile.js"></script>
{% endblock %}
