{% extends "base.html" %}
{% block title %}Matching with Vikings{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<div class="content">
  <font color="#013F5C">

  <center>
    <h3>Matching with Vikings</h3>
    <div class="text">
      <strong><p>Make an account!</p></strong>
    </div>
  </center>

<div class="message">
  {% if failure %}
  <p>Username already taken!</p>
  {% endif %}
</div>

</div>
  <div id="input" align="center">
    <form action="" method="POST">
      <input type="text" name="Username" class="" placeholder="Choose a username"></input>
<br>      
<input type="password" name="Password" class="" placeholder="Choose a password" ></input>
<br>
<input type="text" name="Age" class="" placeholder=""></input>
<br>
<input type="text" name="RealName" class="" placeholder="Input your full name"></input>
<br>
<input type="radio" name="Gender" class="" value = "Male"></input>
<input type="radio" name="Gender" class="" value = "Female"></input>
<br>
<input type="text" name="Hobbies" class="" placeholder = "Input your hobbies"></input>
<br>
  <input class="button" type="submit" name="submitsignup" value="Signup" class=""></input>
      <br><br>
    </form>
  </div>
{% endblock %}

