{% extends "base.html" %}
{% block title %}Matching with Vikings{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}

<div class="content">
  <font color="#013F5C">

  <center>
    <div class="text">
      <br><h2>Make an account!</h2><br><strong>Please fill out the information below:</strong>
    </div>
  </center>

<div class="message">
  {% if failure %}
  <p>Username already taken!</p>
  {% endif %}
</div>

</div>
  <div id="input" class="one_half" align="center" >
    <form action="" method="POST">
  <font size="4">
<br>
     Username: <input type="text" size="25" style="height:2em;line-height:1.5em;" name="Username" class="button magenta" placeholder="Choose a username"></input>
<br><br>    
Password: <input type="password" size="25" style="height:2em;line-height:1.5em;" name="Password" class="button magenta" placeholder="Choose a password" ></input>
<br><br>
Age:   <input type="text" size="25" style="height:2em;line-height:1.5em;" name="Age" class="button magenta" placeholder="Enter your age"></input>
<br><br>
</div>
<div id="input" class="one_half last" align="center">
Name: <input type="text" size="25" style="height:2em;line-height:1.5em;" name="RealName" class="button magenta" placeholder="Input your full name"></input>
<br><br>
Gender: <input type="radio" size="25" style="height:2em;line-height:1.5em;" name="Gender" class="button magenta" value = "Male">Male</input>

<input type="radio" name="Gender" class="" value = "Female">Female  </input>
<br><br>
Favorite Hobby: <input type="text" size="25" style="height:2em;line-height:1.5em;" name="Hobbies" class="button magenta" placeholder = "Input your favorite hobby"></input>
<br><br>

<!-- URL of favorite youtube video: <input type="text" size="25"
  style="height:2em;line-height:1.5em;" name="Youtube" class=""
  placeholder = "Input the URL of your favorite youtube
  video"></input>  -->
    </div>

  <div id="input" class="one_full" align="center" >
      <input class="button red rounded large" type="submit" name="submitsignup" value="Signup" class=""></input>
      <br><br>
    </form>
  </div>
{% endblock %}

