{% extends "base.html" %}
{% block title %}Survey: {{surveyname}} {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block tabs %}{{super()}}{% endblock %}
{% block body %}
<form action="" method="POST">
<font color="#013F5C">
<center><br>
<h2>Choose a survey to take!</h2>
<select class="button blue" name ="survey_selection" id = "names">
{% for survey in surveynames%}
<option><font color="#013F5C">
{{survey}}</font> </option>
{% endfor %}
</select>
</form>
<form action="" method="POST">
<div id="survey">
</div>
</form>
<script src="/static/js/survey.js"></script>
{% endblock %}
